.App {
    height: 100%;
    width: 100%;
    min-width: 1440px;  /* 不小于1180px */
    min-height: 760px;
    position: relative;
}

.Menu {
    float: left;
    height: 100%;
    width: 260px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.25);
}

.Header {
    float: left;
    height: 80px;
    width: calc(100% - 260px);
    box-sizing: border-box;
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.25);
}

.Main {
    float: left;
    display: flex;
    justify-content: center; /* 水平居中 */
    height: calc(100% - 80px);
    width: calc(100% - 260px);
}