@font-face {
    font-family: 'Pixel';
    src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    text-decoration: none;
}

.pixel-16-000 {
    font-family: 'Pixel', serif;
    font-size: 16px;
    color: black;
}