.Logout {
  height: 500px;
  width: 800px;
  box-sizing: border-box;
  padding: 70px 45px 0 45px;
}

.InfoArea {
  float: left;
  width: 200px;
  height: 420px;
  margin-right: 40px;
}

.NFTArea {
  float: left;
  width: 470px;
  height: 420px;
}