.Logout {
  height: 500px;
  width: 970px;
  box-sizing: border-box;
}

.InfoArea {
  float: left;
  width: 200px;
  height: 500px;
  margin-right: 40px;
}

.NFTArea {
  float: left;
  width: 726px;
  height: 500px;
}