.LineChart {
  height: 280px;
  width: 550px;

  span {
    display: inline-block;
    width: 80px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.17px;
    color: rgba(96, 98, 102, 1);
    text-align: center;
    margin: 15px 26px 0 26px;
    border-radius: 6px;
    cursor: pointer; // 增加鼠标指针提示
    transition: background-color 0.3s; // 增加渐变效果
  }

  span:hover {
    background-color: rgba(243, 243, 243, 1);
  }
}

.Map {
  height: 230px;
  width: 100%;

  canvas {
    height: 100%;
    width: 100%;
  }

}

.Extremum {
  position: absolute;
  width: 54px;
  height: 14px;
  font-size: 10px;
  font-weight: 500;
  line-height: 14.48px;
  color: rgba(61, 197, 93, 1);
  text-align: center;
  opacity: 1;
  pointer-events: none;
  border-radius: 2px;
}

.MapChoose {
  background-color: rgba(224, 224, 224, 1);
}
