.LoginButton {
  width: 120px;
  height: 48px;

  margin-right: 30px;
  margin-top: 16px;

  float: right;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;    /* 垂直居中 */

  background: url(https://img.js.design/assets/img/689719f9d94adb56e4a83af7.png#19aeb9b06eb2b7bf47c3c26ec9f71a7a);
}

.LoginButton:hover {
  background: url("../assets/images/hender-option-login-button-hover.png");
}