.WheelDraw {
  height: 470px;
  width: 470px;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.1);
}

.WheelDraw {
  text {
    font-size: 24px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    margin: 0;
  }
}