.AuctionTradeHistory {
  height: 330px;
  width: 465px;
}

.AuctionTradeHistory {
  i {
    background-image: url("../../assets/images/i-tradehistory.png");
  }
}

.TradeItem {
  width: 430px;
  height: 40px;
  margin-top: 15px;

  img {
    float: left;
    height: 40px;
    width: 40px;
  }

  span {
    width: 175px;
    margin-left: 20px;
    float: left;
    height: 20px;
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(144, 147, 153, 1);
  }

  mark {
    font-size: 12px;
    color: rgba(85, 85, 85, 1);
  }
}