.AuctionPriceHistory {
  height: 254px;
  width: 560px;

  i {
    background-image: url("../../assets/images/i-pricehistory.png");
  }

  tr {
    height: 30px;
    width: 500px;
    margin-left: 10px;
  }
}