.LoginMask {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  height: 240px;
  box-shadow: 0 1px 8px  rgba(0, 0, 0, 0.35);
  background-repeat: no-repeat; /* 只出现一次 */
  background-position: center;  /* 居中 */
  background-size: contain;     /* 按比例缩放，完整显示，不拉伸 */
  image-rendering: pixelated;      /* 强制像素化缩放 */
  background-image: url(https://img.js.design/assets/img/68a46db6b5e8b987e593e1fe.png#baaaf5bd2d07ae0e1239589c3cb3763e);

  div {
    margin: 10px 0 0;
  }

  p {
    height: 20px;
    line-height: 20px;
  }
}

.MaskSvg {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat; /* 只出现一次 */
  background-position: center;  /* 居中 */
  background-size: contain;     /* 按比例缩放，完整显示，不拉伸 */
  background-image: url("../../assets/images/meta-wallet.svg");
}

.Up {
  color: rgba(61, 197, 93, 1);
}

.Down {
  color: rgba(252, 61, 57, 1);
}